$green: #00a676;
$dark-gray: #1B1C21;
$light-gray: #7E7E82;
$mid-gray: #888888;
$gray-border: #B5B6BC;
$light-green: #B8FFEC;
$border-gray: #DDDDDD;
$background-gray: #EAEAEA;
$off-white: #F8F8F8;
$bright-pink: #FF3E79;
$dark-pink: #FF437D;
$white: #FFFFFF;
$hot-pink: #cc0055;
$mid-border-gray: #ddd;
$light-border-gray: #e0e0e0;
$lightest-gray: #f7f7f7;
$bright-hot-pink: #ff0066;
$hot-pink-button: #ff4081;
$pure-white: #fff;
$transparent-black-10: rgba(0, 0, 0, 0.1);
$transparent-black-50: rgba(0, 0, 0, 0.5);
$navy-transparent: rgba(14, 24, 80, 0.2);
$white-full: rgba(255, 255, 255, 1);
$soft-blue-transparent: rgba(69, 79, 126, 0.03);
